
      <nav class="navbar bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../../../assets/img/ticket.png" width="30" height="24" class="d-inline-block align-text-top">
            Get <span class="subtitle">Tickets</span>
          </a>
          <div class="d-flex">
            <div *ngIf="!has_logged;">
              <button type="button" class="btn btn-primary me-2"><a routerLink="login-form" class="text-white">Login</a></button>
            </div>
            <div *ngIf="has_logged;">
              <button type="button" class="btn btn-danger" (click)="logout()"><a routerLink="login-form" class="text-white">Logout</a></button>
            </div>
          </div>
        </div>
      </nav>

