
<div class="container">
    <div class="row">
      <div class="col mt-5 ">
            <h2 class="text-center mb-2">Entra y compra tu entrada!</h2>
            <span class="text-center">¿Todavía no tienes cuenta? <a href="/register">Regístrate</a></span>
              <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <!--Username-->
                  <div class="mb-3 mt-3">
                    <label for="username" class="form-label">Nombre usuario</label>
                    <input type="text" class="form-control" formControlName="username" appForbidenNames>
                    <div *ngIf="this.loginForm.get('username')?.errors?.['required'] && this.loginForm.get('username')?.touched" class="error">
                      Este campo es obligatorio
                    </div>
                    <div *ngIf="this.loginForm.get('username')?.errors?.['pattern'] && this.loginForm.get('username')?.touched" class="error">
                      El nombre de usuario debe contener sólo carácteres
                    </div>
                  </div>
                  <!--Password-->
                  <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="text" class="form-control" formControlName="password">
                    <div *ngIf="this.loginForm.get('password')?.errors?.['required'] && this.loginForm.get('password')?.touched" class="error">
                      Este campo es obligatorio
                    </div>
                    <div *ngIf="this.loginForm.get('password')?.errors?.['minlength'] && this.loginForm.get('password')?.touched" class="error">
                      La contraseña debe contener al menos 8 carácteres
                    </div>
                    <div *ngIf="this.loginForm.get('password')?.errors?.['pattern'] && this.loginForm.get('password')?.touched" class="error">
                      La contraseña debe contener sólo carácteres y números
                    </div>
                  </div>
                  <!--Submit-->
                  <div class="">
                    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
                  </div>
                </form>
                
          </div>
      </div>
  </div>
  