
<div class="container">
    <div class="row">
      <div class="col mt-5 mx-auto">
            <h2 class="text-center mb-2">¡Regístrate y compra tu entrada!</h2>
              <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <!--Username-->
                  <div class="mb-3">
                    <label for="username" class="form-label">Nombre usuario</label>
                    <input type="text" class="form-control" formControlName="username" appForbidenNames>
                    <div *ngIf="this.loginForm.get('username')?.errors?.['required'] && this.loginForm.get('username')?.touched" class="error">
                      Este campo es obligatorio
                    </div>
                    <div *ngIf="this.loginForm.get('username')?.errors?.['minlength'] && this.loginForm.get('username')?.touched" class="error">
                      El nombre de usuario debe contener al menos 6 carácteres
                    </div>
                    <div *ngIf="this.loginForm.get('username')?.errors?.['pattern'] && this.loginForm.get('username')?.touched" class="error">
                      El nombre de usuario debe contener sólo carácteres
                    </div>
                    <div *ngIf="this.loginForm.get('username')?.errors?.['forbidden']" class="error">
                      El nombre de usuario no puede contener carácteres ofensivos
                    </div>
                  </div>
                  <!--Password-->
                  <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="text" class="form-control" formControlName="password">
                    <div *ngIf="this.loginForm.get('password')?.errors?.['required'] && this.loginForm.get('password')?.touched" class="error">
                      Este campo es obligatorio
                    </div>
                    <div *ngIf="this.loginForm.get('password')?.errors?.['minlength'] && this.loginForm.get('password')?.touched" class="error">
                      La contraseña debe contener al menos 8 carácteres
                    </div>
                    <div *ngIf="this.loginForm.get('password')?.errors?.['pattern'] && this.loginForm.get('password')?.touched" class="error">
                      La contraseña debe contener sólo carácteres y números
                    </div>
                  </div>
                  <!--Repeat Password-->
                  <div class="mb-3">
                    <label for="password" class="form-label">Repetir contraseña</label>
                    <input type="text" class="form-control" formControlName="repeat_password" appConfirmPassword [param]="this.loginForm.value.password">
                    <div *ngIf="this.loginForm.get('repeat_password')?.errors?.['required'] && this.loginForm.get('repeat_password')?.touched" class="error">
                      Este campo es obligatorio
                    </div>
                    <div *ngIf="this.loginForm.get('repeat_password')?.errors?.['noMatch'] && this.loginForm.get('repeat_password')?.touched" class="error">
                      Las contraseñas deben coincidir
                    </div>
                  </div>
                  <!--Email-->
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="email">
                    <div *ngIf="this.loginForm.get('email')?.errors?.['required'] && this.loginForm.get('email')?.touched" class="error">
                      Este campo es obligatorio
                    </div>
                    <div *ngIf="this.loginForm.get('email')?.errors?.['email'] && this.loginForm.get('email')?.touched" class="error">
                      Debe ser formato email
                    </div>
                  </div>
                  <!--Civil state-->
                  <div class="mb-3">
                    <label for="civil_state" class="form-label">Estado civil</label>
                    <select name="civil_status" class="form-select" id="civil_status" formControlName="civil_status">
                      <option value={{i}} *ngFor="let status of civil_status; let i=index" [ngValue]="status">{{status}}</option>
                    </select>
                    <div *ngIf="this.loginForm.get('civil_status')?.errors?.['civil_status'] && this.loginForm.get('civil_status')?.touched" class="error">
                      Este campo es obligatorio
                    </div>
                  </div>
                  <!--Gender-->
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" value="Mujer" formControlName="gender">
                    <label class="form-check-label" for="sex">
                      Mujer
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio"  value="Hombre" formControlName="gender">
                    <label class="form-check-label" for="sex">
                      Hombre
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" value="Otros" formControlName="gender">
                    <label class="form-check-label" for="sex">
                      Otros
                    </label>
                  </div>
                  <!--Information-->
                  <h5>Sobre qué quieres recibir información</h5>
                  <div class="form-check" *ngFor="let info of information">
                    <label>
                      <input type="checkbox" [value]="info" (change)="onChange(info)">
                      {{info}}
                    </label>
                  </div>
                  <!--Accept conditions-->
                  <div class="form-check mb-3 mt-3">
                    <input class="form-check-input" type="checkbox" value="accept_conditions" formControlName="accept_conditions" >
                    <label class="form-check-label" for="flexCheckDefault">
                     Acceptar condiciones
                    </label>
                    <div *ngIf="this.loginForm.get('accept_conditions')?.errors?.['required'] && this.loginForm.get('accept_conditions')?.touched" class="error">
                      Este campo es obligatorio
                    </div>
                  </div>
                  <!--Submit-->
                  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
                </form>
                
          </div>
      </div>
  </div>
  