
.error{
  color: rgb(226, 6, 6);
}
.register-body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
}

form{
  background-color: rgba(255, 255, 255, 0.966);
  padding: 25px;
  border-radius: 15px;
}
.blue-text{
  color: hsl(218deg 81% 75%);
}
.ng-invalid:not(form).ng-touched{
  border: 1px solid rgb(212, 12, 12);
}
