.content{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(107, 33, 204, 0.3));
    box-shadow: 0px 15px 10px -15px #111; 
}
.events{
    text-shadow: 4px 4px 3px #0009;
}
#container-events{
min-height: 100vh;
   background-image: url('../../../assets/img/pexels-sebastian-ervi-1763067.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}
#card{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.event-img{
    min-height: 150px;
    height: 180px;
}

.ngx-pagination{
    position: relative;
    min-height: 100vh;
}

.search{
    border: none;
    background-color: transparent;
}
